// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap');

$body-font: 'Roboto', sans-serif;
$headers-font: 'Black Ops One', cursive;

h1, h2, h3 {
  font-family: 'Black Ops One', cursive;
  color: #9A8148;
}

p, li {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 700;
}