// Specific CSS for your home-page

.big-container {
  min-height: calc(100vh - 90px);
  padding-bottom: 90px;
}

.intro {
  display: flex;
  align-content: center;
  .img-intro {
    background-image: asset_url("intro_back.png");
    opacity: 0.6;
    height: 200px;
    width: 100%;
    background-position: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    margin: auto;
    margin: 0px;
    margin-bottom: 30px;
    float: left;
    justify-content: space-around;
    padding: 5px;
  }
  .text-intro {
    font-size: 15px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
  p {
    color: $tan !important;
    text-shadow: 5px 5px 15px black !important;
    font-family: 'Black Ops One', cursive;
    letter-spacing: 0.08em;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0rem;
  }
}

h1, h3, h4 {
  text-align: center;
}
