<div class="nav-bar">
  <div class="user-nav">
    <%= link_to (image_tag "ghost_logo.png", class: "home-logo"), root_path %>
    <i class="fas fa-bars filter-menu"></i>
    <%= image_tag "avatar_user.png", class: "user-avatar" %>
  </div>
</div>
