<div class="w-full">
  
<div class="intro">
  <div class="img-intro">
    <div class="text-intro">
      <p>Salut soldat, ici tu peux progresser deux fois plus vite que tes amis !</p>
      <p>Découvre des tips et des loadouts selon ton niveau actuel et partage les tiens !</p>
    </div>
  </div>    
</div>

<div class="button-index">
  <%= link_to "All Cards", cards_path, class: 'btn-index' %>
</div>

  <h2>Latest trick</h2> <%# POLICE DE OUF A TESTER%>
<div class="cards">
  <div class="card">
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2><%= @card.title %></h2>
    </div>
    <div class="hidden-content">
      <div class="card_image-holder">
        <img class="card_image" src="https://img.gfinityesports.com/news/image/7/1/1500x0-nc/how_to_win_call_of_duty_warzone_AiwLTH3.jpg" />
      </div>
        <div class="card-description">
          <%= @card.content %>
        </div>
        <div class="card-actions">
          <a href="#" class="btn">View More</a>
        </div>
    </div>
  </div>
</div>

  <p><strong>Tip Name</strong></p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
