<div class="w-full">
  <h1>Warzone Companion</h1> <%# LOGO ICI%>

  <h2>Bienvenue dans la bagarre</h2> <%# ENCART SUPER COOL ICI%>
  <p>Salut jeune gueux, ici tu peux accéder à des tips à jours et des compo weapons des familles.</p> <%# POLICE DE OUF A TESTER%>
  <p> <%= link_to "Inscris toi" %> pour créer gérer tes decks, et enrichis la commu de ton savoir :</p> <%# POLICE DE OUF A TESTER%>
  <p>Upvote les cartes les plus pertinentes à tes yeux et lache tes meilleurs comms</p> <%# POLICE DE OUF A TESTER%>
  <p>Attention la commu, fais mentir les rageux en respectant autrui</p> <%# POLICE DE OUF A TESTER%>

<div class="button-index">
  <%= link_to "Index all", cards_path, class: 'btn-index' %>
</div>

<div class="button-signin">
  <%= link_to "Sign In", new_user_session_path, class: 'btn-signin' %>
</div>

  <h2>Latest trick</h2> <%# POLICE DE OUF A TESTER%>
  <p><strong>Tip Name</strong></p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
  <p>Blabla tricks bla astuce blabla appuie sur espace en même temps wow blabla</p> <%#CONTAINER DES CARTES (ET NON PAS CARD CONTAINER VOUS L'AVEZ?)%>
</div>