
<div class="profile-card">
  <h1><%= @user.username %></h1>
  <%= image_tag "avatar_user.png", id: "user-avatar" %>
  <p>Member since: <%= @user.created_at.strftime("%d/%m/%Y") %></p>
</div>

<h2>Favorite cards :</h2>
