<div>
  <h1>All tips</h1>
</div>
<div class="create-card-container">
  <div class="form-border">
    <% @cards.each do |card| %>
      <div class=""><%= link_to "#{card.title}", card_path(card.id), class: "" %></div>
    <% end %>
  </div>
</div>