body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("background.jpg");
  background-position: center;
}

html {
  height: 100%;
}