body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 90px;
  background-image: asset_url("background.jpg");
  background-position: center;
}
