.nav-bar {
  z-index: 10000;
  position: fixed;
  bottom: 0px;
  height: 90px;
  width: 100%;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: asset_url("Dot.png");
  border-top: solid 1px;
  box-shadow: inset 0 0 1em black, 0 0 1em black;
    .user-avatar {
    border-radius: 50%;
    border: solid 1px;
    vertical-align: middle;
    width: 75px;
    height: 75px;
  }
  .home-logo {
    vertical-align: middle;
    width: 75px;
    height: 75px;
  }
  i {
    margin-right: 55px;
    font-size: 60px;
    margin-left: 55px;
    color: black;
    opacity: 0.8;
    margin-top: 9px;
  }
}

.user-nav {
  display: flex;
  margin: auto;
}

#menu-profile {
  background-image: asset_url("Dot.png");
  background-color: black;
}

.dropdown-item {
  color: white;
}

div.nav-item.dropdown.show {
  background: none;
}