.btn-signin {
  padding: 15px 15px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  background-color: #282828;
  font-family: 'DotGothic16', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #81898c;
  line-height: 1.15;
  text-transform: uppercase;
  width: fit-content;
  background-size: 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 0px 0px #97cde1;
  background-color: transparent;
  background-color: #080127;
  color: #94bbc2;
  box-shadow: 0px 0px 25px #79d9ff;
  border: 1px solid #79d9ff;
  display: block;
  text-align: center;
  border-radius: 50%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: slidein;
  text-decoration: none;
  height: 70px;
  width: 70px;
  background: black;
  background-image: asset_url("Dot.png");
  box-shadow: inset 0 0 1em black, 0 0 1em black;
}

.btn-signin:hover {
  text-decoration: none;
}

.button-signin {
  display: flex;
  justify-content: center;
}

@keyframes slidein {
  from {
    background-color: #080127;
    text-shadow: 0px 0px 0px #97cde1;
    color: #94bbc2;
  }

  50% {
    background-color: #080127;
    text-shadow: 0px 0px 10px #79d9ff;
    color: #79d9ff;
  }

  to {
    background-color: #080127;
    text-shadow: 0px 0px 0px #97cde1;
    color: #94bbc2; 
  }
}