trix-editor {
  &.form-control {
    min-height: 100px;
    height: auto;
    max-width: 100%;
  }
}

.form-control {
  .attachment--preview {
    margin: 0.6em 0;
  }
}

  .attachment--preview {
    width: 100%;
    text-align: center;
  }

  .attachment {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .create-card-container {
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 60px;
  }
  
  .form-border {
    padding: 25px;
    border: solid;
    border-radius: 3px;
    background-color: rgba(154, 129, 72, 0.8);
  }