.show {
  background-color: rgba(154, 129, 72, 0.5);
  border-radius: 3px;
  border-color: #79BEDA;
  border: solid 2;
  justify-content: center;
  margin: auto;
  box-sizing: content-box;
}

.display-comments {
  background-color: rgba(154, 129, 72, 0.8);
  border-radius: 3px;
  border-color: #79BEDA;
  border: solid 2 $tan;
  justify-content: center;
  box-sizing: content-box;
  text-align: center;
  width: 400px;
  margin: auto;
}

div .votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100px;
  margin: auto;
}
